<%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="main-body">
            <h1><%= page%></h1>
            <p class=""><%= content%></p>
        </div>
        
        <%- include('partials/footer') %>



        <!-- Scripts -->
        <script src="" async defer></script>
    </body>
</html>