<%- include('partials/header.ejs') -%>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="main-body">
            <span class="add">
                <a href="/compose" ><p>Add</p></a>
                
            </span>
            

            

            <% content.forEach(function(post){ %>
                <div class="content"> 
                    <h2><%=post.title %></h2>
                    <p><%=  post.content%></p>
                    <span class="bottom-tag">
                        <a href="<%= post.title %>" style="color: blue;text-decoration-line: none;">read more</a>

                        <form method="post" action="/<%=post.title%>">
                            <button type="submit"  style="border:0px ;" class="del"  >
                                <i  class="fa-solid fa-trash fa-1x"></i>
                            </button>
                        </form>
                        
                        
                    </span> 
                </div>
       <% } )%> 


        </div>
      
         
        
        <%- include('partials/footer') -%>



        <!-- Scripts -->
        <script src="" async defer></script>
    </body>
</html>

